<div class="p-3">
   <div class="row p-3">
   <div class="col-6"><h1>Find result</h1></div>
   <div class="col-6 d-flex justify-content-end">
   <a href="/" type="button" class="btn btn-danger align-self-center m-2"> Logout </a>
   </div>
</div>
<form class="row g-3 needs-validation" method="POST" action="/students" novalidation>
<div class="col-6">
<div class="form-floating mb-3">
  <input type="number" class="form-control" id="floatingInput" placeholder="Roll Number" name="rollnumber">
  <label for="floatingInput">Roll Number</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
  <input type="date" class="form-control" id="floatingInput" placeholder="Date Of Birth" name="dateofbirth">
  <label for="floatingInput">Date Of Birth</label>
</div>
</div>
<div class="col-12 d-grid">
     <button class="btn btn-info" type="submit">Search</button>
 </div>



</form>
</div>